$columnWidth: 15.3%; // (100% / 5)   =>  (larguraTotal / qtZonasVerticais) - espaçamento
$rowHeight: 16.6%; // (100% / 6)   =>  alturaTotal / qtZonasHorizontais

.squad-wrapper {
  display: block;
  margin: 0 auto;
  max-width: rem(433px);
  position: relative;
  text-align: center;
  width: 50%;

  @media (max-width: $bp-desktop) {
    width: 100%;
  }
}
