//- @param {string} name | Nome do ícone
mixin addIcon(name, extraClass)
  span(class="icon" + extraClass || '')
    case name
      when 'arrow'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
          path(fill='currentColor', d='M25 33S6.5 41.7 4.6 38.3C2.6 34.8 21 11 25 11s22.4 23.8 20.4 27.2c-2 3.4-20.4-5-20.4-5z')
      when 'book'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192 192')
          path(fill='currentColor', d='M102 129.6l-24.2-6c-2.6 2-2 10.6 0 13.3l24.8 6.8 71.2-42.8c1.6-2.8.2-9.2-1-13.2l-71 41.8z')
          path(fill='currentColor', d='M74.6 106.2c1.3-5.2 7.5-3 6.4-4.4-4.3-6-40.8-16.6-47-10.6-2.8 2.7-4 10.4-4 19.5l-9.6-2.7c-6-10.7-1.3-30-1.3-30l83.7 22.6L187 53S109 22.5 86.5 22.5C76 22.5 12.8 53 8 65.8c-7 19.7 0 53.7 0 53.7l22.6 6C31.6 141 34 156 34 156s14-17 20.4-16.3L77 169.5s-6-48-2.4-63.3z')
      when 'calendarCheck'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          path(fill='none', d='M21.3 50.8h7v5.7h-7zM21.3 65.4h7v-6h-7M70.5 77v5.7h7v-5.8h-7zM80.4 82.5c3.4-.2 5.5-.4 5.8-.7.2-.2.4-2 .5-5h-6.3v5.7zM77.5 82.6zM21.3 74.2h7v-6h-7M18.6 82.3zM18.6 50.8H13v5.7h5.6v-5.7zM18.6 59.4H13l.3 6h5.3v-6zM13.8 77l.5 4.8c.2.2 1.8.3 4.3.5V77h-4.8zM18.6 68.2h-5.2c0 2.2 0 4.2.2 6h5v-6zM21.3 82.4l7 .2V77h-7v5.4zM68 82.8h-.2zM80.4 82.5zM41.2 50.8h7v5.7h-7zM31.3 50.8h7v5.7h-7zM31.3 65.4h7v-6h-7M51 50.8h7v5.7h-7z')
          path(fill='none', d='M87 44.3c-.2-9.8-.6-18-1-18.4-.5-.5-4.4-.7-10.3-1 .2 1.2 1.8 2.5 1.8 3.5s-1.3 3-2.8 3c-1.4 0-2.8-2-2.8-3s1.6-2.3 1.8-3.4H59.3c0 1 2 2.5 2 3.5s-1.5 3-3 3c-1.3 0-2.7-2-2.7-3s1.8-2.4 1.8-3.6H42.8c0 1 2 2.5 2 3.4 0 1.2-1.5 3-3 3-1.3 0-2.7-2-2.7-3s1.8-2.3 1.8-3.5c-5.3 0-10.3 0-14.6.2.3 1 1.8 2.2 1.8 3 0 1.2-1.3 3.2-2.8 3.2-1.4 0-2.8-2-2.8-3s1.5-2 1.8-3.2c-6 .2-10 .4-10.2.7-1 .8-1.2 10.6-1 21.8h52.3l-1.6 3h-3v5.7h2c0 1 0 2 .2 3h-2.3v2.2C60 61 59 60.5 58 60v-.6h-1.6c-1.5-.5-3-.8-4.8-.8-1.7 0-3.3.3-5 .8h-5.4v3.3c-1.6 1.5-3 3.4-3.7 5.5h-6.2v6h5c0 1 .2 1.8.3 2.7h-5.3v5.7h7v-1.6c2.4 5 7.5 8 13.3 8 5 0 9.5-2.4 12.3-6.2h3.8v-6h-1.3c.2-.8.3-1.7.3-2.6h1v-6h-2l-1.5-2.8h1.2c1.3 2 3 3.4 5 4.5V74h7v-2.4h.4c.7 0 1.6 0 2.4-.3v2.7h6.4v-5.4c4-2.8 6.3-7.3 6.3-12.3 0-5-2.3-9.4-6-12.2zm-66-.6h-2.7v-7H21v7zm15.6 0h-3v-7h3v7zm15.3 0h-3v-7h3v7zm-.5 41c-6 0-10.8-5-10.8-11s4.8-11 10.8-11 11 5 11 11-5 11-11 11zm28.3-48h2.8V42c-1.4-.7-2.8-.6-2.8-.6v-4.8zm-15.4 7v-7h2.8v7h-2.8zM78 68c-6 0-11-5-11-11s5-11 11-11 11 5 11 11-5 11-11 11z')
          path(fill='currentColor', d='M91.4 19.3c-.8-.8-6.6-1.3-15-1.7h.2s.6-2.4.6-3.2c0-1.3-1.5-4.5-2.5-4.5s-2.4 3-2.4 4.4c0 .7.5 2.7.6 3-4 0-8.5 0-13-.2h.2s.5-2 .5-2.7c0-1.3-1.5-4.5-2.4-4.5-1 0-2.5 3.2-2.5 4.5 0 .8.5 2.7.5 2.7h.3-13.3.3s.5-2 .5-2.7c0-1.3-1.4-4.5-2.4-4.5s-2.4 3.2-2.5 4.5c0 .8.7 2.7.7 2.7h.2c-4.6 0-9 .2-13 .3h.2s.6-2.3.5-3c0-1.3-1.4-4.5-2.4-4.5s-2.4 3.2-2.5 4.5c0 .8.7 3 .7 3-8.4.5-14.3 1-15 1.8-4 4-1.8 67.8-1 68.8 3 2.8 82 2.8 84.8 0 1.7-1.6 2.7-65-1-68.7zM13 50.8h5.6v5.7H13v-5.7zm0 8.6h5.6v6h-5.3c0-2 0-4-.2-6zm.4 8.8h5.2v6h-5c0-1.8 0-3.8-.2-6zm5.2 14c-2.5 0-4-.2-4.3-.4l-.5-5h4.8v5.5zm9.8.4c-2.6 0-5 0-7-.2V77h7v5.6zm0-8.4h-7v-6h7v6zm0-8.8h-7v-6h7v6zm0-9h-7V51h7v5.7zm49 26.2h-7V77h7v5.6h.2zm8.8-.8c-.3.3-2.4.5-5.8.7V77h6.3c0 2.8-.3 4.6-.5 4.8zm.7-13c0 2 0 3.8-.2 5.4h-6.4v-2.7c-.8.2-1.7.3-2.5.3h-.5v2.4h-7V70c-2-1.2-3.7-2.7-5-4.6h-1.2l1.4 2.8h2v6h-1c0 1 0 1.8-.2 2.7h1.3v5.8h-4c-2.7 3.8-7 6.3-12.2 6.3-5.8 0-11-3-13.4-8V83h-7v-6h5.4l-.2-2.6h-5v-6h6c1-2 2.2-4 3.8-5.5v-3.3h5.5c1.6-.5 3.2-.8 5-.8 1.6 0 3.2.3 4.7.8H58v.6c1 .5 2 1 2.7 1.7v-2.3H63c-.3-1-.4-2-.4-3h-2V51h3c.6-1 1-2 1.7-3H13c-.2-11.2 0-21 1-22 .3-.2 4.2-.4 10.2-.6-.3 1-1.8 2.2-1.8 3 0 1.2 1.4 3.2 2.8 3.2 1.5 0 2.8-2 2.8-3S26.5 26 26.2 25l14.6-.3c0 1-1.8 2.5-1.8 3.4 0 1 1.4 3 2.8 3s2.8-1.8 2.8-3c0-1-2-2.3-2-3.5h14.8c0 1-1.8 2.5-1.8 3.5s1.4 3 2.8 3 2.8-2 2.8-3-2-2.4-2-3.5H74c-.2 1.2-2 2.5-2 3.5s1.5 3 3 3c1.4 0 2.7-2 2.7-3S76 26.2 75.7 25c6 .3 9.8.5 10.2 1 .4.4.8 8.5 1 18.3 3.7 2.8 6 7.2 6 12.2 0 5-2.3 9.5-6 12.3zM38 59.4v6h-7v-6h7zm-7-3V51h7v5.7h-7zm10 0V51h7v5.7h-7zm9.7 0V51h7v5.7h-7z')
          path(fill='currentColor', d='M78 46c-6 0-11 5-11 11s5 11 11 11 11-5 11-11-5-11-11-11zm-1.6 16.6l-5.3-5 2.6-2.6 2.7 2.5 7.3-7 2.6 2.6-9.8 9.6zM51.5 62.8c-6 0-10.8 5-10.8 11s4.8 10.8 10.8 10.8 11-5 11-11-5-10.8-11-10.8zm-1.5 18l-5.3-5 2.5-2.7 2.8 2.7 7.2-7.2 2.6 2.7-9.8 9.6z')
          path(fill='none', d='M83.6 50.4l-7.3 7-2.7-2.4-2.5 2.7 5.4 5 9.8-9.6M50 75.7L47.2 73l-2.5 3 5.3 4.8 9.8-9.6-2.6-2.7')
          path(fill='currentColor', d='M18.3 36.6H21v7h-2.7zM33.7 36.6h2.8v7h-2.8zM49 36.6h3v7h-3zM64.4 36.6h2.8v7h-2.8zM82.6 42v-5.4h-2.8v4.8s1.4 0 2.8.6z')
      when 'calendarClockSmall'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          circle(fill='currentColor', cx='42.5', cy='52.8', r='4')
          circle(fill='currentColor', cx='24.3', cy='70.8', r='4')
          circle(fill='currentColor', cx='42.5', cy='70.8', r='4')
          path(fill='currentColor', d='M89.2 21c-.6-1-14.4-1.6-14.4-1.6s.7-2.3.6-3c-.2-1.3-1-4.5-2.4-4.5-1.2 0-2.2 3-2.4 4.3 0 .7.6 3 .6 3L58.6 19H39l-12.3.3s.7-2.2.7-3c0-1.2-1-4.3-2.4-4.3-1.2 0-2.4 3-2.4 4.4 0 .7.7 3 .7 3S9 20 8.5 21C4 27.6 6.4 88 8 88.6c4.3 1 27.3 2.2 50.7 1.5-3-1.5-4-4-5.7-7-20 .2-38 0-39-1-.4-.5-1.6-26.2-1.4-42.2H85c0 5.4.2 6 0 12.2 3 1.6 5.3 2.6 7 5.4.2-17.8-.3-32.6-2.8-36.3zM12.7 34.8c.2-4 .5-6.7 1-7.2.7-.7 10-.7 10-.7S22 29 22 29.8c0 1 1.7 3 2.7 3 1 0 2.6-2 2.8-3 0-.8-1.8-3-1.8-3l14.3-.2h32s-1.8 2.5-1.7 3.4c0 1 1.7 3 2.7 3 1 0 2.6-2 2.7-3 .2-1-1.7-3.2-1.7-3.2s9.3 0 10 .7c.3.4.6 3.2.8 7.2h-72z')
          path(fill='currentColor', d='M74.3 54C64.3 54 56 62 56 72s8.2 18.4 18.3 18.4c10 0 18.3-8.2 18.3-18.4S84.4 54 74.3 54zm10 24l-8-3.4c-.5.4-1.2.7-2 .7-1.7 0-3-1.3-3-3 0-1.5 1-2.7 2.3-3v-9.8H75v9.8c1.3.3 2.3 1.4 2.4 2.7l8 3.5-1 2.5z')
          circle(fill='currentColor', cx='24.3', cy='52.8', r='4')
      when 'close'
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 50 50')
          path(fill='currentColor', d='M25.125 5.313c-11.322 0-20.5 9.178-20.5 20.5s9.178 20.5 20.5 20.5 20.5-9.178 20.5-20.5-9.178-20.5-20.5-20.5zm9.723 26.598c1 1.002 1 2.624 0 3.625s-2.623 1-3.624 0l-6.1-6.1-6.098 6.1c-1 1-2.623 1-3.624 0s-1-2.623 0-3.624l6.1-6.098-6.1-6.1c-1-1-1-2.622 0-3.623s2.623-1.002 3.624 0l6.1 6.098 6.098-6.1c1-1 2.623-1 3.624 0s1 2.624 0 3.625l-6.1 6.1 6.1 6.098z')
      when 'courthouse'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          path(fill='currentColor', d='M17 37.3l-.2 35.4h-3.5V76h-2.5v3.5h78.4V76h-2.5v-3.3h-3.5V37.3H71.3v35.4h-5.7V37.3H53.4v35.4h-6.8V37.3H34.3v35.4h-5.7V37.3M50 8L4.4 27v4.4h6.8l-.2 4h78l-.2-4h6.8V27M93.7 83H6.3v2.2h-2v7H95.7v-7h-2')
      when 'executive'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 200 200')
          path(fill='currentColor', d='M170.6 125.4L125.8 109s-4.7 29.7-13.2 47.5c-1.2-5.3-4.5-19.5-9.5-23.8 4.2-2 6.5-7.6 6.5-12.5 0-5.2-6 .5-9.6.5-3.6 0-9.8-5.8-9.8-.5 0 5 2.3 10.8 6.7 12.7-5.7 4.5-9 19.6-10 24.2-9-17.7-14.7-48.3-14.7-48.3L29 125.3c-6.4 0-11.7 54-11.7 54 0 6.2 5.3 11.2 11.8 11.2h141.6c6.6 0 12-5 12-11.2 0 0-5.4-54-12-54zM85.7 78.3C91.4 78.3 96 73.7 96 68c0-1 0-1.8-.3-2.7 2.5-.6 5.8-.6 8.4 0l-.3 2.7c0 5.7 4.6 10.3 10.3 10.3 5.7 0 10.4-4.6 10.4-10.3 0-5.7-4.7-10.3-10.4-10.3-3.6 0-6.7 1.8-8.6 4.6-2.8-1-8.3-1-11 0-2-2.8-5-4.6-8.7-4.6-5.7 0-10.3 4.6-10.3 10.3 0 5.7 4.6 10.3 10.3 10.3zM114 61c4 0 7 3.2 7 7s-3 7-7 7c-3.8 0-7-3.2-7-7s3.2-7 7-7zm-28.3 0c3.8 0 7 3.2 7 7s-3.2 7-7 7-7-3.2-7-7 3.2-7 7-7z')
          path(fill='currentColor', d='M65.7 81.2c2 1 3 1.7 3 1.7.6 8 4.4 16.8 10.6 23 8.8 8.7 12 9 20.2 9H100c8 0 11.4-.3 20.3-9 6-6.2 10-15 10.6-23 0 0 1-.8 3-1.8 4.7-2.6 6.5-22.2 3.8-26.2.2-2.5-.7-7.3-.7-14.5 0-9-1.6-14.5-4-16.2.3-1.6-.6-3.3-4-6-5.6-4.8-8.7-6.7-10.2-7-4.8-2-12-2.8-19-2.8-8 0-16 1-20.2 3.7-1.8 1-4.4 3-8.2 6-3.7 3-4.4 5-4 6.7-2 2-3.3 7-3.3 15.2C64 47 62.7 52 62 55c-3 3.5-1 23.8 3.7 26.4zm1.3-25v-.4c3.2-2.7 6.6-8 6.6-15.4v-4c.8-2 2.4-4 5.3-4 3.2-.4 5.6-1 7-1.6 4 2.3 9 4 13.7 4 5 0 10-1.7 14.3-4.2 1.5.7 4 1.3 7.6 1.7 4 .3 5.5 4 6 6.7v1.4c0 7.4 2.5 12.4 5 14.8 0 .6.2 1 .2 1 1.7 0 4.2 16.8-1.8 22-.6.6-3.4 1-3.4 1-.7 7.4-3.4 17-9.8 23.5-8 8-10.4 8.3-18 8.4-7.5 0-10-.4-18-8.3-6.3-6.4-9-16-9.7-23.4 0 0-2.7-.5-3.3-1-6-5.3-3.5-22-1.7-22z')
      when 'eye'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
          circle(fill='currentColor', style="cursor: pointer;", cx='25', cy='25', r='2.5')
          path(fill='currentColor', d='M25 14.2C12.8 14.2 3 22.6 3 25s9.8 10.8 22 10.8S47 27.4 47 25s-9.8-10.8-22-10.8zM25 33c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z')
      when 'openDoor'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          path(fill='currentColor', d='M42.2 15V9s-18.6-.4-20.6 2.8c-3 4.5-2.2 72-.3 75.2 2.2 3.7 21 3.4 21 3.4v-5.8c-11.4.3-15.8-1-15.8-1-1.3-9-1.3-66.8 0-67.8 1-.6 15.7-.8 15.7-.8zM83.3 78.4V17.8c0-6.6 0-9.8-5.3-11.2l-26.8-2c-5 0-4.6 1.4-4.6 8V85c0 6.7.6 10 4.7 9.6l25.3-6c7.5-2.3 6.7-3.6 6.7-10.2zm-26-23.2c-2.5 0-4.6-2.2-4.6-4.8s2-4.7 4.7-4.7 4.8 2 4.8 4.7-2.2 4.8-4.8 4.8z')
      when 'people'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          path(fill='currentColor', d='M32 60.3v-5c1.3-1.6 1.8-2.6 2.2-4l-.4-1.3c-.4-1.4-1.8-1-3-4.4-1-2.8.6-3.8.2-5.8-.7-4.5-.8-9.2.8-13.2-1.8-1-4-1.5-6.7-1.7-11.6.7-13.2 8.7-12 16.2.3 1.3-.8 2 0 4 .8 2.4 1.8 2 2 3 1 3.5 1 4.4 3.3 7.2v5c-3.7 1.6-12.4 1-14 3-1.2 1.7-2.5 7.2-2.2 8 1 2 8 3 14 3.4.7-4 1.6-8.4 2.5-9.6 2-2.6 12-2.3 17.7-4-1.7 0-3.2-.4-4.3-1zM95.7 63.5c-1.6-2-10.3-1.5-14-3.2v-5c2.4-2.7 2.3-3.6 3.2-7 .2-1 1.2-.7 2-3 .8-2-.3-2.8 0-4 1-7.6-.4-15.6-12-16.4-3 0-5 .7-6.8 1.6 1.6 4 1.5 8.7.8 13.2-.4 2 1.3 3 .2 5.8-1.2 3.3-2.6 3-3 4.4l-.4 1.4c.4 1.3 1 2.3 2.3 4v5c-1 .4-2.5.7-4.2 1 5.8 1.5 15.7 1.2 17.7 3.8 1 1.2 1.8 5.5 2.5 9.6 6-.4 13-1.3 14-3.5.2-.7-1-6.2-2.3-7.8z')
          path(fill='currentColor', d='M59 63.5V57c3-3.6 3-4.7 4-9.2.5-1.3 1.8-1 3-4 1-2.6-.6-3.6-.3-5.4C67.4 28.6 65.5 18 50 17c-15.3 1-17.4 11.6-15.7 21.4.3 1.8-1.3 2.8-.3 5.4 1.2 3 2.5 2.7 3 4 1 4.5 1 5.6 4 9.3v6.5c-4.7 2.3-16.2 1.6-18.3 4.3-1.6 2-3.3 9.3-3 10.3C22 83 50 83 50 83s28 0 30.2-5c.4-1-1.3-8-3-10.2-2-2.7-13.5-2-18.2-4.3z')
      when 'user'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
          path(fill='currentColor', d='M50 4C24.6 4 4 24.6 4 50s20.6 46 46 46 46-20.6 46-46S75.4 4 50 4zm0 12.4c6.8 0 12.3 5.5 12.3 12.4S56.8 41 50 41 37.7 35.7 37.7 29 43.2 16.4 50 16.4zm0 68c-13 0-24.4-7.2-30.5-17.8C25.5 57.8 37 52 50 52s24.6 5.8 30.5 14.6C74.5 77.2 63 84.3 50 84.3z')
      when 'userCare'
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192 192')
          path(fill='currentColor', d='M107.4 27C76 27 50.6 52.2 50.6 83.6c0 9.6 2.3 18.6 6.5 26.5l.6 1s8.5-3.6 24.8-.8c5 1 12 5.6 18.5 7 5 1 16.7 2.5 22.7 2.8 15.2.7 10.6 14.8 10.6 14.8 17-9.7 30-30.3 30-51.3 0-31.4-25.5-56.8-57-56.8zm0 15.5c9.3 0 16.8 7.5 16.8 16.8S116.7 76 107.4 76s-16.7-7.5-16.7-16.7 7.5-16.8 16.7-16.8zM74 104.7s9.3-16.4 33.4-16.4c25.4 0 33.5 16.4 33.5 16.4 0 4.5-3.4 5.7-10.8 10.8-5.6-.4-19.5-1-28-3.6-6-2-12-5.3-17-7-5.5-1.6-11.3 0-11.3-.3zM35 109.8c-7.3 0-7.3 0-7.3 7.3V145c0 7.3 0 7.3 7.3 7.3s7.3 0 7.3-7.2V117c0-7.2 0-7.2-7.3-7.2z')
          path(fill='currentColor', d='M150.7 140s2.2-2 2.6-2.8c.5-1-.3-5.6-7-5.6-4.6 0-12 7.5-14.8 8.3-21.3 6-31.4.7-37-2.3-.6-.2 2.8-.4 6.2-.4 11.2 0 24.4 1.7 25.3 1.4 5.6-2.2 6.4-8 5-10.2-6.4-9.3-29.3-6-33.3-8.5-18.2-12-39-7-45-5.4-1.7.4-6.4 2-6.6 2.3v29.5c1-.4 7.6.5 7.6.5s37.7 17.7 40.4 18c4 .6 33.5-3.5 35.8-4.4 2.6-1 20.3-12 23-16 2-3 .2-5-2-4.7z')


//- Exemplo de uso
  +addIcon('close')
