$bp-mobile: rem(320px);
$bp-mobile-medium: rem(360px);
$bp-mobile-large: rem(480px);
$bp-mobile-very-large: rem(600px);
$bp-below-tablet: rem(767px);
$bp-tablet: rem(768px);
$bp-desktop: rem(992px);
$bp-desktop-large: rem(1024px);
$bp-wide: rem(1200px);
$bp-wide-large: rem(1360px);
