.section-todos-os-penaltis {
  @media (max-width: $bp-tablet) {
    margin: rem(60px) 0;
  }
}

.all-goals-wrapper {
  display: inline-block;
  max-width: rem(950px);
  padding: rem(5px);
  position: relative;
  text-align: center;
  width: 100%;

  .gamescores {
    height: rem(105px);
    width: 100%;
  }

  .goalpost,
  .penalty-shadows {
    margin-top: rem(35px);
    transition: margin 0.3s;
    width: 100%;

    @media (max-width: $bp-tablet) {
      margin-top: 0;
    }
  }

  .penalty-shadows {
    position: absolute;
    top: rem(105px);
  }

  .penalties-shadow-nav {
    background: transparent;
    border: none;
    position: absolute;
    top: 52%;
    z-index: 10;

    &:focus {
      outline: none;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
