.main-header-wrapper {
  background: var(--primary-color);
  box-shadow: 0 2px 5px 0 rgba(#000, 0.25);
  margin: 0 auto;
  width: 100%;
}

.main-header {
  align-items: center;
  display: flex;
  height: rem(80px);
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1140px;
  padding: 5px 20px;
  position: relative;
  width: 100%;
}

.current-user {
  align-items: flex-end;
  display: flex;
  padding: 0 10px;

  .user-pic {
    color: var(--white);
    display: inline-block;
    height: rem(60px);
    width: rem(60px);
  }

  .user-name {
    color: var(--text-color--dark);
    display: inline-block;

    @include fontSize(18px);
  }
}
