include ./../../components/campinho/campinho

-
  const squad = {
    team: 'Brasil',
    formation: '4-1-4-1',
    bgColor: '#F8E71C',
    borderColor: '#00489C',
    players: [
      {x: 1, y: 3, name: 'Alisson', number: 1},

      {x: 2, y: 1, name: 'Marcelo', number: 16},
      {x: 2, y: 2, name: 'Miranda', number: 3},
      {x: 2, y: 4, name: 'Marquinhos', number: 13},
      {x: 2, y: 5, name: 'Filipe Luis', number: 6},

      {x: 3, y: 3, name: 'Fernandinho', number: 5},

      {x: 4, y: 1, name: 'Neymar', number: 10},
      {x: 4, y: 2, name: 'R. Augusto', number: 8},
      {x: 4, y: 4, name: 'Paulinho', number: 15},
      {x: 4, y: 5, name: 'P. Coutinho', number: 11},

      {x: 6, y: 3, name: 'G. Jesus', number: 9}
    ],
  };

section.section
  h1.section-title Seção campo

  +addSquad(squad)
