include ./../../components/spinner/spinner
include ./../../components/button/button

section.section
  h1.section-title Seção campo
  p.paragraph Parágrafo

  +addButton({ label: 'Botão 1' })

  +addSpinner()
